<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
		<meta name="description" content="">
		<meta name="author" content="">
		<link rel="icon" href="favicon.ico">
		<title>知識探索與資料探勘實驗室-機器人導航</title>
		<!-- Bootstrap core CSS -->
		<link href="stylesheets/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
		<!-- Custom styles for this template -->
		<link href="stylesheets/jquery.bxslider.css" rel="stylesheet">
		<link href="stylesheets/style.css" rel="stylesheet">
	</head>
	<body>
		<!-- Navigation -->
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="index.html">首頁</a></li>
						<li><a href="#about">監控機器人</a></li>
						<li><a href="#contact">遠端遙控</a></li>
						<li><a href="#contact">目標設定</a></li>
						<li><a href="about.html">關於我們</a></li>
						<li><a href="about.html">聯絡我們</a></li>
					</ul>

					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><i class="fa fa-sign-in"></i></a></li>
						<li><a href="#"><i class="fa fa-sign-out"></i></a></li>
						<li><a href="#"><i class="fa fa-user"></i></a></li>
						<li><a href="#"><i class="fa fa-github"></i></a></li>
						<!-- <li><a href="#"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
						<li><a href="#"><i class="fa fa-reddit"></i></a></li> -->
					</ul>

				</div>
				<!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">
		<header>
      <a href="index.html"><h1>知識探索與資料探勘實驗室</h1></a>
      <h2><a href="index.html">機器人導航</a></h2>
		</header>
		<section class="main-slider">
			<ul class="bxslider">
				<li><div class="slider-item"><img src="images/nchu.jpg"  height="1540" width="800" title="Nchu" /></div></li>
				<li><div class="slider-item"><img src="images/Ros.jpg" height="1540" width="800" title="ROS" /></div></li>
				<li><div class="slider-item"><img src="images/turtlebot3.png" height="1540" width="800" title="Turtlebot3" /></div></li>
			</ul>
		</section>
		<section>
			<div class="row">
				<div class="col-md-8">
					<article class="blog-post">
						<div class="blog-post-image">
							<a href="post.html"><img src="images/750x500-1.jpg" alt=""></a>
						</div>
						<div class="blog-post-body">
							<h2><a href="post.html">Vintage-Inspired Finds for Your Home</a></h2>
							<div class="post-meta"><span>by <a href="#">Jamie Mooze</a></span>/<span><i class="fa fa-clock-o"></i>March 14, 2015</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
							<p>ew months ago, we found ridiculously cheap plane tickets for Boston and off we went. It was our first visit to the city and, believe it or not, Stockholm in February was more pleasant than Boston in March. It probably has a lot to do with the fact that we arrived completely unprepared. That I, in my converse and thin jacket, did not end up with pneumonia is honestly not even fair.</p>
							<div class="read-more"><a href="#">Continue Reading</a></div>
						</div>
					</article>
				
				</div>
				<div class="col-md-4 sidebar-gutter">
					<aside>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">作者簡介</h3>
						<div class="widget-container widget-about">
                            <!-- put my git -->
              <a href="#"><img src="images/henry.jpg" height="150" width="120" ></a>
              <h4>Hsu Heng Chou (Henry)</h4>
              <h4><i class="fa fa-envelope"></i> cheerhappy6369@gmail.com</h4>
                            <div class="author-title">Designer</div>
                            
                            
                            <li>隱私保護</li>
                            <li>分散式運算</li>
                            <li>全端工程師</li>
                            <li>嵌入式系統</li>
                            <li>行動應用開發</li>
						</div>
                    </div>
					<!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">團隊成員</h3>
						<div class="widget-container">
							<article class="widget-post">
								<div class="post-image">
									<a href="#"><img src="images/morrison.jpg" height="120" width="90"></a>
								</div>
								<div class="post-body">
									<h2><a href="post.html">Ling Sheng Mong (Morrison)</a></h2>
									<div class="post-meta">
										<h2><i class="fa fa-envelope"></i> remnantplume@gmail.com</h2> 
                  </div>
                  <div class="author-title">Local Navigtion Designer</div>
                            <li>機器人設計</li>
                            <li>ROS</li>
								</div>
							</article>
							<article class="widget-post">
								<div class="post-image">
									<a href="#"><img src="images/polt.jpg" height="120" width="90"></a>
								</div>
								<div class="post-body">
									<h2><a href="post.html">Guan Tsung Lin (Polt)</a></h2>
									<div class="post-meta">
										<h2><i class="fa fa-envelope"></i> wakeup159753@gmail.com </h2> 
                  </div>
                  <div class="author-title">Global Navigtion Designer</div>
                            <li>分散式運算</li>
                            <li>ROS</li>
								</div>
							</article>
							
						</div>
                    </div>
                    <!-- sidebar-widget -->
					<div class="sidebar-widget">
						<h3 class="sidebar-title">監督核心</h3>
						<div class="widget-container widget-about">
							<!-- put my git -->
							<h4><a href="post.html"></a>HpTasi</h4>
                            <div class="author-title">Professor</div>
                            
						</div>
					</div>
					
					</div>
					</aside>
				</div>
			</div>
		</section>
		</div><!-- /.container -->

		<footer class="footer">

			<div class="footer-socials">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-instagram"></i></a>
				<a href="#"><i class="fa fa-google-plus"></i></a>
				<a href="#"><i class="fa fa-dribbble"></i></a>
				<a href="#"><i class="fa fa-reddit"></i></a>
			</div>

			<div class="footer-bottom">
				<i class="fa fa-copyright"></i> Copyright 2015. All rights reserved.<br>
				Theme made by <a href="http://www.moozthemes.com">MOOZ Themes</a>
			</div>
		</footer>

		<!-- Bootstrap core JavaScript
			================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="javascripts/bootstrap.min.js"></script>
		<script src="javascripts/jquery.bxslider.js"></script>
    <script src="javascripts/mooz.scripts.min.js"></script>
    <script> src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.7/angular.min.js"</script>
	</body>
</html>